<!-- Footer -->
@if (items().length > 0) {
<div class="sticky bottom-0 bg-white border-t border-gray-100 px-6 py-5">
  <!-- Subtotal -->
  <div class="space-y-2 mb-4">
    <div class="flex justify-between text-sm">
      <span class="text-gray-600">Subtotal</span>
      <span class="font-semibold text-gray-900">{{
        total() | currency : 'PEN' : 'symbol' : '1.2-2'
      }}</span>
    </div>
  </div>

  <!-- Total -->
  <div class="flex justify-between items-center py-3 border-t border-gray-200 mb-4">
    <span class="text-lg font-semibold text-gray-500">Total</span>
    <span class="text-2xl font-bold bg-gray-900 bg-clip-text text-transparent">
      {{ total() | currency : 'PEN' : 'symbol' : '1.2-2' }}
    </span>
  </div>
</div>
}
