<section class="h-full min-h-screen">
  <div class="flex flex-col md:flex-row h-full p-4">
    <aside class="h-full md:w-1/4 min-w-60 sticky top-16">
      <app-product-filter-sidebar></app-product-filter-sidebar>
    </aside>
    <div class="flex-1 py-4 md:p-4">
      <h1 class="text-2xl font-semibold pb-4">Catálogo de productos</h1>

      <!-- Búsqueda -->
      <app-product-search
        [term]="term()"
        (searchChange)="onSearchChange($event)"
      ></app-product-search>

      <!-- Cards -->
      <section class="mt-4 mb-4">
        <ul class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
          @if (products().length === 0) {
          <li>No hay productos</li>
          } @else{@for (product of products(); track product.id) {
          <li>
            <app-card-product [product]="product"></app-card-product>
          </li>
          }}
        </ul>
      </section>

      <app-basic-pagination
        [page]="currentPage()"
        [totalPages]="metadata().pages"
        (pageChange)="onPageChange($event)"
      ></app-basic-pagination>
    </div>
  </div>
</section>
