<section class="h-full min-h-screen">
  <div class="flex flex-col md:flex-row h-full p-4">
    <aside class="h-full md:w-1/4 min-w-60 sticky top-16">
      <app-product-filter-sidebar></app-product-filter-sidebar>
    </aside>
    <div class="flex-1 py-4 md:p-4">
      <h1 class="text-2xl font-semibold pb-4">Catálogo de productos</h1>

      <!-- Búsqueda -->
      <app-product-search
        [term]="term()"
        (searchChange)="onSearchChange($event)"
      ></app-product-search>

      <!-- Cards -->
      <section class="mt-4 mb-4">
        @if (isLoading()) {
        <div class="col-span-full flex justify-center items-center h-32">
          <p class="text-gray-500">Cargando productos...</p>
        </div>
        } @else if (products().length === 0) {
        <div>
          <p class="col-span-full p-4 text-center text-gray-500">No hay productos</p>
        </div>
        } @else {
        <ul
          class="grid grid-cols-2 justify-items-center md:grid-cols-2 min-h-100 lg:grid-cols-3 xl:grid-cols-4 gap-4"
        >
          @for (product of products(); track product.id) {
          <li>
            <app-card-product [product]="product"></app-card-product>
          </li>
          }
        </ul>
        }
      </section>

      @if (metadata().pages > 1) {
      <app-basic-pagination
        [page]="currentPage()"
        [totalPages]="metadata().pages"
        (pageChange)="onPageChange($event)"
      ></app-basic-pagination>
      }
    </div>
  </div>
</section>
