<div class="w-full rounded-sm bg-white p-4 shadow-sm">
  <div class="flex relative gap-2 p-1 ">
    <div class="w-full space-y-2">
      <h3 class="text-gray-600 text-md flex flex-col font-semibold "># {{ orderId() }}</h3>

      <div class="text-sm text-gray-900">
        <h4 class="flex flex-row gap-2">
          <p class="font-medium"><strong>Fecha:</strong></p>
          {{ orderDate() | date : 'medium' }}
        </h4>
        <h4 class="flex flex-row gap-2 mt-2">
          <p class="font-medium"><strong>Total:</strong></p>
          {{ totalAmount() | currency : 'PEN' : 'symbol' : '1.2-2' }}
        </h4>
        <h4 class="flex flex-row gap-2 mt-2">
          <p class="font-medium"><strong>Cliente:</strong></p>
          {{ companytName() }}
        </h4>
      </div>

      <div class="mt-2 flex flex-row gap-2">
        <h4 class="text-sm font-semibold text-gray-900">Dirección:</h4>
        <p class="text-sm  whitespace-pre-line">
          {{ address().city + ', ' + address().street + ', ' + address().number }}
        </p>
      </div>
    </div>

      <button class="border absolute top-2 right-2 border-gray-300 px-4 py-2 rounded-sm text-slate-800 font-semibold bg-white transition-all duration-200 ease-out hover:bg-azul active:bg-azul  hover:text-white hover:shadow active:scale-95"
      (click)="openFacturaPdf()"
    >
      VER FACTURA
    </button>



   
  </div>
</div>
