<li class="group bg-gray-50 rounded-xl p-4 hover:bg-gray-100 transition-all">
  <div class="flex gap-4">
    <div
      class="w-20 h-20 bg-gradient-to-br from-gray-200 to-gray-300 rounded-lg flex items-center justify-center flex-shrink-0"
    >
      <img [src]="item()!.product!.images![0]" [alt]="'foto de ' + item()!.product.name" />
    </div>

    <div class="flex-1 min-w-0">
      <h3 class="font-semibold text-gray-900 mb-1 truncate">
        {{ item()!.product.name }}
      </h3>
      <p class="text-sm text-gray-500 mb-2">
        {{ item()!.variant }}
      </p>

      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <button
            (click)="decreaseQuantity()"
            [disabled]="item()!.quantity <= 1"
            class="w-8 h-8 rounded-sm border border-gray-300 hover:bg-white hover:border-gray-400 flex items-center justify-center transition-colors"
          >
            <lucide-icon [img]="MinusIcon" class="w-4 h-4 text-gray-600" />
          </button>

          <input
            type="number"
            [value]="item()!.quantity"
            (input)="onQuantityInput($event)"
            min="1"
            [max]="item()!.maxQuantity"
            [disabled]="item()!.quantity >= item()!.maxQuantity"
            class="flex-1 text-center text-xs font-semibold text-gray-900 border border-gray-300 rounded-sm py-2 px-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent disabled:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed"
            placeholder="1"
          />

          <button
            (click)="increaseQuantity()"
            [disabled]="item()!.quantity >= item()!.maxQuantity"
            class="w-8 h-8 rounded-sm border border-gray-300 hover:bg-white hover:border-gray-400 flex items-center justify-center transition-colors"
          >
            <lucide-icon [img]="PlusIcon" class="w-4 h-4 text-gray-600" />
          </button>
        </div>

        <!-- Price -->
        <div class="text-right">
          <p class="text-xs text-gray-500">
            {{ item()!.product.price | currency : 'PEN' : 'symbol' : '1.2-2' }} c/u
          </p>
        </div>
      </div>
    </div>

    <button
      (click)="onRemoveClick()"
      class="self-start p-2 text-gray-800 hover:text-red-500 hover:bg-red-50 rounded-lg transition-colors"
      aria-label="Eliminar"
    >
      <lucide-icon [img]="Trash2Icon" class="w-5 h-5"></lucide-icon>
    </button>
  </div>
</li>
