@reference "tailwindcss";

.form-label {
  @apply mb-1 block text-sm font-medium text-gray-700;
}

.form-input {
  @apply w-full  border-b border-gray-400  px-3 py-2 focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200;
}

.form-error {
  @apply mt-1 text-xs text-blue-600;
}

