:host ::ng-deep .warehouse-popup .leaflet-popup-content {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
}
:host ::ng-deep .warehouse-popup {
  margin: 0;
}

:host {
  display: block;
}
#map {
  z-index: 1;
}
